*{
    padding: 0px;
    margin: 0px;
}

.back1{
    position: absolute;
    top: 50px;
    left: 40px;
    height: 40px;
}

.back1 a:hover{
    cursor: pointer;
}

.img-1{
    position: relative;
    top: 20px;
    height: 200px;
    width: 350px;
    left: 60px;
}

.img-2{
    position: absolute;
    top: 15px;
    width: 30px;
    left: 1230px;
    width: 180px;
}

.img-4{
    position: absolute;
    height: 550px;
    bottom: 1px;
    width: 1535px;
}

.In3{
    position: relative;
    width: 420px;
    height: 40px;
    left: 500px;
    top: 10px;
    background: #FFF385;
    font-size: 25px;
    border-radius: 50px;
    padding: 12px 18px 12px;
    text-align: left;
}

.Div1{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.btn-1{
    position: relative;
    background: #FFF385;
    font-size: 25px;
    width: 170px;
    height: 70px;
    border-radius: 25px;
    left: 640px;
    top: 12px;
    font-weight: bold;

}

button:hover{
    cursor: pointer;
}
